.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgb(77, 106, 121);
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.image {
  border-radius: 12px;
  border: 0px solid rgb(0, 0, 0);
}

.caption {
  color: black;
}

.copyright {
  color: lightgrey;
  font-size: 75%;
  font-style: italic;
}
