.info {
  background: #fff;
  text-align: center;
  display: grid;
  justify-items: center;
  padding-top: 5rem;
  height: 100vh;
}

.info-story {
  display: grid;
  align-content: start;
}

.info-garden p {
  max-width: 640px;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: left;
  white-space: pre-line;
}

p.info-description {
  line-height: 1.3rem;
}

h1.info-header {
  text-align: left;
  margin-left: 2rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

h2.info-header {
  text-align: left;
  margin-left: 2rem;
  padding-bottom: 0.5rem;
  padding-top: 2rem;
  font-size: 1.2em;
}
